<div id="<%- id %>"
     class="modal">

    <% if (!deleted) { %>
    <div class="modal__header">

		<% if (referrer) { %>

		<a data-modal-toggle="<%- referrer %>" class="modal__backLink fa fa-chevron-left"></a>

		<% } else { %>

		<a class="modal__closeLink fa fa-times"></a>

		<% } %>

        <button form="form_product"
                type="submit"
                class="btn btn-primary pull-right">
            <%- models.product.id ? 'Сохранить' : 'Добавить' %>
        </button>

        <h4 class="modal__title">
            <%- models.product.id ? 'Редактирование товара #' + models.product.get('sku') : 'Добавление товара' %>
        </h4>

    </div>
    <div class="modal__body">

        <b block="form_product"></b>

    </div>

    <% } else { %>

    <div class="modal__body" style="text-align: center">
        <h3 name="successRemoveTitle" style="padding-bottom: 20px;">
            Товар удален
        </h3>
        <h4 name="removedProductName" style="padding-bottom: 60px;">
            <%- models.product.get('name') %>
            <br>
            (<%- models.group.get('name') %>)
        </h4>

        <div style="padding-bottom: 30px;">
            <a name="removeContinue" class="btn btn-primary modal__closeLink"
               style="padding: 10px 30px;">
                Продолжить работу
            </a>
        </div>
    </div>

    <% } %>

</div>