<%
/**
 *
 * @models.category
 */
%>
<% var partials = _.extend({
    select_priceRoundings: require('tpl!blocks/select/select_priceRoundings/select_priceRoundings.ejs')
}, partials) %>

<div class="content catalog" edit="<%- PAGE.params.edit %>" section="<%- PAGE.params.section %>">
    <div class="page__header">
        <a href="/catalog?edit=<%- PAGE.params.edit %>" class="page__backLink">
            Товарный справочник
        </a>
        <span class="page__backLinkSeparator">/</span>
        <a href="/groups/<%- PAGE.params.groupId %>?edit=<%- PAGE.params.edit %>" class="page__backLink">
            <%= models.group.element('name') %>
        </a>
    </div>

    <h1>
        <span style="vertical-align: middle">
            <%= models.category.element('name') %>
        </span>

        <a class="page__editLink catalog__editCategoryLink"></a>

    </h1>

    <form class="form form_categoryProperties">
        <div class="form__field form__field_inline">

            <label class="form__label">Минимальная наценка</label>

            <input value="<%- models.category.get('retailMarkupMin') %>"
                   class="inputText"
                   type="text"
                   name="retailMarkupMin"/>

            <span class="inputText__postfix">%</span>
        </div>
        <div class="form__field form__field_inline">

            <label class="form__label">Максимальная наценка</label>

            <input value="<%- models.category.get('retailMarkupMax') %>"
                   class="inputText"
                   type="text"
                   name="retailMarkupMax"/>

            <span class="inputText__postfix">%</span>
        </div>
        <div class="form__field form__field_inline">

            <label class="form__label">Округление</label>

            <%= partials.select_priceRoundings({
                selected: models.category.get('rounding')
            }) %>
        </div>
        <div class="form__controls">
            <button type="submit" lh-button class="button">
                Сохранить
            </button>
        </div>
    </form>

</div>