<%
/**
 *
 * @models.subCategory
 * @model
 */
%>
<% var partials = {
    select_priceRoundings: require('ejs!blocks/select/select_priceRoundings/select_priceRoundings.ejs'),
    select_vat: require('ejs!blocks/select/select_vat/select_vat.ejs'),
    retailPricePreferenceFields: require('ejs!./retailPricePreferenceFields.ejs')
} %>
<% var formatMoney = require('kit/formatMoney') %>
<% var ProductModel = require('models/product') %>
<% var model = model || new ProductModel() %>

<form class="form form_product">

    <fieldset class="form__fieldset">
        <div class="form__field">

            <div class="radioGroup">
                <label>
                    <input type="radio"
                           name="type"
                           value="unit"
                            <%- (model.get('type') == 'unit') ? 'checked' : '' %>/>
                    <span class="radioGroup__text">Штучный</span>
                </label>

                <label>
                    <input type="radio"
                           name="type"
                           value="weight"
                            <%- (model.get('type') == 'weight') ? 'checked' : '' %>/>
                    <span class="radioGroup__text">Весовой</span>
                </label>

                <label>
                    <input type="radio"
                           name="type"
                           value="alcohol"
                            <%- (model.get('type') == 'alcohol') ? 'checked' : '' %>/>
                    <span class="radioGroup__text">Алкоголь</span>
                </label>
            </div>

        </div>

        <% if (model.get('sku')) { %>
        <div class="form__field">
            <label class="form__label">Код товара</label>

            <div name="sku"><%- model.get('sku') %></div>
        </div>
        <% } %>

        <div class="form__field">
            <label class="form__label" required>Наименование</label>
            <input value="<%- model.get('name') %>" class="inputText" type="text" name="name"/>
        </div>
        <div class="form__field">
            <label class="form__label">Единица измерения</label>

            <div class="form_product__units" name="units">Штуки</div>
        </div>
        <div class="form__field">
            <label class="form__label" required>НДС</label>
            <%= partials.select_vat({
                selected: model.get('vat')
            }) %>
        </div>

        <div class="form__field">
            <label class="form__label">Штрихкод</label>
            <input value="<%- model.get('barcode') %>" class="inputText" type="text" name="barcode"/>
        </div>
        <div class="form__field">
            <label class="form__label">Страна производства</label>
            <input value="<%- model.get('vendorCountry') %>" class="inputText" type="text" name="vendorCountry"/>
        </div>
        <div class="form__field">
            <label class="form__label">Производитель</label>
            <input value="<%- model.get('vendor') %>" class="inputText" type="text" name="vendor"/>
        </div>

        <fieldset <%- (model.get('type') == 'weight') ? '' : 'disabled' %> class="form_product__typeFields" rel="weight">
            <div class="form__field">
                <label class="form__label">Наименование на весах</label>
                <input value="<%- model.get('typeProperties.nameOnScales') %>" class="inputText" type="text" name="typeProperties.nameOnScales"/>
            </div>
            <div class="form__field">
                <label class="form__label">Описание товара на весах</label>
                <input value="<%- model.get('typeProperties.descriptionOnScales') %>" class="inputText" type="text" name="typeProperties.descriptionOnScales"/>
            </div>
            <div class="form__field">
                <label class="form__label">Состав</label>
                <textarea class="inputText" name="typeProperties.ingredients"><%- model.get('typeProperties.ingredients') %></textarea>
            </div>
            <div class="form__field">
                <label class="form__label">Пищевая ценность</label>
                <textarea class="inputText" name="typeProperties.nutritionFacts"><%- model.get('typeProperties.nutritionFacts') %></textarea>
            </div>
            <div class="form__field">
                <label class="form__label">Срок годности</label>
                <input style="width: 150px; text-align: right;" value="<%- model.get('typeProperties.shelfLife') %>" class="inputText" type="text" name="typeProperties.shelfLife"/>
                <span class="inputText__postfix">ч.</span>
            </div>
        </fieldset>

        <fieldset <%- (model.get('type') == 'alcohol') ? '' : 'disabled' %> class="form_product__typeFields" rel="alcohol">
            <div class="form__field">
                <label class="form__label">Крепость</label>
                <input value="<%- model.get('typeProperties.alcoholByVolume') %>" class="inputText" type="text" name="typeProperties.alcoholByVolume"/>
            </div>
            <div class="form__field">
                <label class="form__label">Объем тары</label>
                <input value="<%- model.get('typeProperties.volume') %>" class="inputText" type="text" name="typeProperties.volume"/>
            </div>
        </fieldset>

        <div class="form__field">
            <label class="form__label">Цена закупки</label>

            <input style="width: 150px;"
                   value="<%- model.get('purchasePrice') ? formatMoney(model.get('purchasePrice')) : '' %>"
                   class="inputText"
                   type="text"
                   name="purchasePrice"/>

            <span class="inputText__postfix">руб.</span>
        </div>

        <input type="radio"
               id="retailMarkupPreferenceRadio"
               class="form_product__retailPricePreferenceRadio"
               name="retailPricePreference"
               value="retailMarkup"
                <%- model.get('retailPricePreference') === 'retailMarkup' ? 'checked' : ''%> />

        <input type="radio"
               id="retailPricePreferenceRadio"
               class="form_product__retailPricePreferenceRadio"
               name="retailPricePreference"
               value="retailPrice"
                <%- model.get('retailPricePreference') === 'retailPrice' ? 'checked' : ''%> />

        <%= partials.retailPricePreferenceFields({
            model: model
        }) %>

        <div class="form__field">
            <label class="form__label">Округление</label>
            <%= partials.select_priceRoundings({
                selected: model.get('rounding.name') || models.subCategory.get('rounding.name')
            }) %>
        </div>

    </fieldset>
    <div class="form__controls">
        <button type="submit" class="button">
            <%- model.id ? 'Сохранить' : 'Добавить' %>
        </button>
    </div>

</form>