<%
/**
 *
 * @models.subCategory
 * @model
 */
%>

<% var partials = {
    unit: require('tpl!./unitFields.ejs'),
    weight: require('tpl!./weightFields.ejs'),
    alcohol: require('tpl!./alcoholFields.ejs'),
    select_priceRoundings: require('tpl!blocks/select/select_priceRoundings/select_priceRoundings.ejs'),
    select_vat: require('tpl!blocks/select/select_vat/select_vat.ejs')
} %>
<% var formatMoney = require('kit/formatMoney') %>
<% var ProductModel = require('models/product') %>
<% var model = model || new ProductModel() %>

<form class="form form_product">

    <fieldset class="form__fieldset">
        <div class="form__field">

            <div class="radioGroup">
                <label>
                    <input type="radio"
                           name="type"
                           value="unit"
                            <%- (model.get('type') == 'unit') ? 'checked' : '' %>/>
                    <span class="radioGroup__text">Штучный</span>
                </label>

                <label>
                    <input type="radio"
                           name="type"
                           value="weight"
                            <%- (model.get('type') == 'weight') ? 'checked' : '' %>/>
                    <span class="radioGroup__text">Весовой</span>
                </label>

                <label>
                    <input type="radio"
                           name="type"
                           value="alcohol"
                            <%- (model.get('type') == 'alcohol') ? 'checked' : '' %>/>
                    <span class="radioGroup__text">Алкоголь</span>
                </label>
            </div>

        </div>

        <% if (model.get('sku')) { %>
        <div class="form__field">
            <label class="form__label">Код товара</label>

            <div name="sku"><%- model.get('sku') %></div>
        </div>
        <% } %>

        <div class="form__field">
            <label class="form__label" required>Наименование</label>
            <input value="<%- model.get('name') %>" class="inputText" type="text" name="name"/>
        </div>
        <div class="form__field">
            <label class="form__label">Единица измерения</label>

            <div name="units">Штуки</div>
        </div>
        <div class="form__field">
            <label class="form__label" required>НДС</label>
            <%= partials.select_vat({
                selected: model.get('vat')
            }) %>
        </div>

        <div class="form__field">
            <label class="form__label">Штрихкод</label>
            <input value="<%- model.get('barcode') %>" class="inputText" type="text" name="barcode"/>
        </div>
        <div class="form__field">
            <label class="form__label">Страна производства</label>
            <input value="<%- model.get('vendorCountry') %>" class="inputText" type="text" name="vendorCountry"/>
        </div>
        <div class="form__field">
            <label class="form__label">Производитель</label>
            <input value="<%- model.get('vendor') %>" class="inputText" type="text" name="vendor"/>
        </div>

        <!-- Advanced fields -->
        <div class="form_product__productTypePropertiesFields">
            <%= partials[model.get('type')]({
                model: model
            })%>
        </div>

        <div class="form__field">
            <label class="form__label">Цена закупки</label>
            <input style="width: 150px;"
                   value="<%- model.get('purchasePrice') ? formatMoney(model.get('purchasePrice')) : '' %>"
                   class="inputText" type="text" name="purchasePrice"/>
            <span class="inputText__postfix">руб.</span>
        </div>
        <div class="form__field productForm__retailMarkupField">
            <label class="form__label">Диапазон наценки</label>

                <span name="retailMarkup"
                      class="retailMarkup productForm__linkedInput">

                    <input
                            style="width: 100px;"
                            value="<%- model.get('retailMarkupMin') || model.get('subCategory.retailMarkupMin') %>"
                            class="inputText"
                            type="text"
                            name="retailMarkupMin"/>
                    -
                    <input
                            style="width: 100px;"
                            value="<%- model.get('retailMarkupMax') || model.get('subCategory.retailMarkupMax') %>"
                            class="inputText"
                            type="text"
                            name="retailMarkupMax"/>
                </span>
                <span class="productForm__inputLink">
                    <span class="productForm__inputLinkText" name="retailMarkupHint"></span>
                </span>
            <span class="inputText__postfix">%</span>
            <span class="productForm__disableHint">Введите цену закупки</span>
        </div>
        <div class="form__field productForm__retailPriceField">
            <label class="form__label">Диапазон цены продажи</label>
            <div name="retailPrice"
                 class="retailPrice productForm__linkedInput productForm__hiddenInput">
                <input
                        style="width: 100px;"
                        value="<%- model.get('retailPriceMin') ? formatMoney(model.get('retailPriceMin')) : '' %>"
                        class="inputText"
                        type="text"
                        name="retailPriceMin"/>
                -
                <input
                        style="width: 100px;"
                        value="<%- model.get('retailPriceMax') ? formatMoney(model.get('retailPriceMax')) : '' %>"
                        class="inputText"
                        type="text"
                        name="retailPriceMax"/>
            </div>
            <span class="productForm__inputLink">
                <span class="productForm__inputLinkText" name="retailPriceHint"></span>
            </span>
            <span class="inputText__postfix">руб.</span>
            <span class="productForm__disableHint">Введите цену закупки</span>
        </div>
        <div class="form__field">
            <label class="form__label">Округление</label>
            <%= partials.select_priceRoundings({
                selected: model.get('rounding.name') || models.subCategory.get('rounding.name')
            }) %>
        </div>
    </fieldset>
    <div class="form__controls">
        <button type="submit" class="button">
            <%- model.id ? 'Сохранить' : 'Добавить' %>
        </button>
    </div>

</form>