<div class="form__field form__field_inline">
    <label class="form__label">Наименование на весах</label>
    <input value="<%- model.get('typeProperties.nameOnScales') %>" class="inputText" type="text" name="typeProperties.nameOnScales"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Описание товара на весах</label>
    <input value="<%- model.get('typeProperties.descriptionOnScales') %>" class="inputText" type="text" name="typeProperties.descriptionOnScales"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Состав</label>
    <textarea class="inputText" name="typeProperties.ingredients"><%- model.get('typeProperties.ingredients') %></textarea>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Пищевая ценность</label>
    <textarea class="inputText" name="typeProperties.nutritionFacts"><%- model.get('typeProperties.nutritionFacts') %></textarea>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Срок годности</label>
    <input style="width: 150px; text-align: right;" value="<%- model.get('typeProperties.shelfLife') %>" class="inputText" type="text" name="typeProperties.shelfLife"/>
    <span class="inputText__postfix">ч.</span>
</div>