<form id="<%- id %>" class="form form_receiptProduct">
    <h4>
        <%- model.models.product.get('name') %>
    </h4>

    <div>
        <%- model.models.product.get('barcode') %>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Цена продажи, <i class="fa fa-rub"></i></label>
                <input class="form-control"
                       type="text"
                       name="sellingPrice"
                       value="<%- formatMoney(data.sellingPrice) %>">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Количество, <%- model.models.product.get('units') %> </label>
                <input class="form-control"
                       type="text"
                       name="count"
                       value="<%- data.count %>">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Стоимость, <i class="fa fa-rub"></i></label>
                <div>
                    <%- formatMoney(0) %>
                </div>
            </div>
        </div>
    </div>
</form>