<% var partials = {
    form_product: require('tpl!blocks/form/form_product/template.ejs')
} %>
<% var getText = require('kit/getText/getText') %>

<div class="content">
    <div class="page__header">
        <a href="/catalog" class="page__backLink">Товарный справочник</a>
        <span class="page__backLinkSeparator">/</span>
        <a href="/groups/<%- models.subCategory.get('category.group.id') %>"
           class="page__backLink"><%- models.subCategory.get('category.group.name') %></a>
        <span class="page__backLinkSeparator">/</span>
        <a href="/groups/<%- models.subCategory.get('category.group.id') %>/categories/<%- models.subCategory.get('category.id') %>"
           class="page__backLink"><%- models.subCategory.get('category.name') %></a>
        <span class="page__backLinkSeparator">/</span>
        <a href="/groups/<%- models.subCategory.get('category.group.id') %>/categories/<%- models.subCategory.get('category.id') %>?subCategoryId=<%- models.subCategory.id %>"
           class="page__backLink"><%- models.subCategory.get('name') %></a>
    </div>

    <h1>Добавление товара</h1>

    <%= partials.form_product({
        models: {
            subCategory: models.subCategory
        }
    }) %>

</div>