<%
/**
 *
 * @models.category
 */
%>
<% var formatMoney = require('kit/formatMoney') %>
<% var getText = require('kit/getText') %>
<% var partials = _.extend({
    select_priceRoundings: require('ejs!blocks/select/select_priceRoundings/select_priceRoundings.ejs')
}, partials) %>

<div class="content catalog" edit="<%- PAGE.params.edit %>">
    <div class="page__header">
        <a href="/stores/<%- PAGE.params.storeId %>/catalog" class="page__backLink">
            Товарный справочник
        </a>
        <span class="page__backLinkSeparator">/</span>
        <a href="/stores/<%- PAGE.params.storeId %>/groups/<%- PAGE.params.groupId %>" class="page__backLink">
            <%= models.group.element('name') %>
        </a>
    </div>

    <h1>
        <span style="vertical-align: middle">
            <%= models.category.element('name') %>
        </span>
    </h1>

    <% if (PAGE.params.subCategoryId !== '0') { %>
    <h2>
        <%- models.subCategory.get('name') %>
    </h2>

    <div class="page__tabs">
        <a href="?subSection=products"
           class="page__tabItem <%- PAGE.params.subSection === 'products' ? 'page__tabItem_active' : '' %>">
            Продукты
        </a>
        <a href="?subSection=balance"
           class="page__tabItem <%- PAGE.params.subSection === 'balance' ? 'page__tabItem_active' : '' %>">
            Остатки
        </a>
    </div>

    <% if (PAGE.params.subSection === 'products') { %>

    <% if (collections.products.length) { %>
    <table class="table table_products">
        <thead>
        <tr>
            <th>Артикул</th>
            <th>Название</th>
            <th>Производитель</th>
            <th>Страна</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <% collections.products.forEach(function(productModel){ %>
        <tr name="product" href="/stores/<%- PAGE.params.storeId %>/products/<%- productModel.get('product.id') %>">
            <td name="sku">
                <%- productModel.get('product.sku') %>
            </td>
            <td name="name">
                <%- productModel.get('product.name') %>
            </td>
            <td name="vendor">
                <%- productModel.get('product.vendor') %>
            </td>
            <td name="vendorCountry">
                <%- productModel.get('product.vendorCountry') %>
            </td>
            <td name="purchasePrice">
                <% if(productModel.get('product.purchasePrice')){ %>
                <%- formatMoney(productModel.get('product.purchasePrice')) %> р.
                <% } else { %>
                &mdash;
                <% } %>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p>
        Нет продуктов
    </p>
    <% } %>

    <% } %>

    <% if (PAGE.params.subSection === 'balance') { %>
    <% if (collections.products.length) { %>
    <table class="table table_products">
        <thead>
        <tr>
            <th>Артикул</th>
            <th>Название</th>
            <th>Производитель</th>
            <th>Страна</th>
            <th>Средняя ЗЦ</th>
            <th>Последняя ЗЦ</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        <% collections.products.forEach(function(productModel){ %>
        <tr href="/stores/<%- PAGE.params.storeId %>/products/<%- productModel.get('product.id') %>" name="inventoryItem">
            <td name="sku">
                <%- productModel.get('product.sku') %>
            </td>
            <td name="name">
                <%- productModel.get('product.name') %>
            </td>
            <td name="vendor">
                <%- productModel.get('product.vendor') %>
            </td>
            <td name="vendorCountry">
                <%- productModel.get('product.vendorCountry') %>
            </td>
            <td name="averagePurchasePrice">
                <%= productModel.get('averagePurchasePrice') ? formatMoney(productModel.get('averagePurchasePrice')) + 'р.' : '&mdash;' %>
            </td>
            <td name="lastPurchasePrice">
                <%- productModel.get('lastPurchasePrice') ? formatMoney(productModel.get('lastPurchasePrice')) : formatMoney(productModel.get('product.purchasePrice')) %>
                р.
            </td>
            <td>
                <span name="inventory"><%- productModel.get('inventory') || 0 %></span>
                <span name="units"><%- getText('units', productModel.get('product.units')) %></span>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p>
        Нет продуктов
    </p>
    <% } %>
    <% } %>

    <% } %>
</div>