<% if (collection.length) { %>

<div class="panel">
	<div class="panel-body">
		<table class="table table-hover table-striped">
			<thead>
			<tr>
				<th data-products-sort-by="name">
					Название
				</th>
				<th data-products-sort-by="address">
					Адрес
				</th>
			</tr>
			</thead>
			<tbody>
			<% collection.forEach(function(store){ %>
			<tr class="store__link" data-store-id="<%- store.id %>" data-modal="modal-store">
				<td data-value="<%- store.get('name') %>"
					name="name"><%- store.get('name') %></td>
				<td data-value="<%- store.get('address') %>"
					name="address"><%- store.get('address') %></td>
			</tr>
			<% }) %>
			</tbody>
		</table>
	</div>
</div>
<% } else { %>
<div class="col-md-12">
	<div class="alert alert-info">
		У вас ещё нет ни одного магазина
	</div>
</div>
<% } %>