<%
/**
 *
 * @collections.categories,
 * @groupModel
 */
%>

<div class="catalog__categoryList">

    <% if(collections.categories.length) { %>

    <% collections.categories.forEach(function(categoryModel){ %>
    <div class="catalog__categoryItem">

        <a href="/groups/<%- groupModel.id %>/categories/<%- categoryModel.id %>?edit=<%- PAGE.params.edit %>"
           class="catalog__categoryLink"><%= categoryModel.get('name') %></a>

        <a data-group_id="<%- groupModel.id %>"
           data-category_id="<%- categoryModel.id %>"
           class="page__editLink catalog__editCategoryLink"></a>

    </div>
    <% }) %>

    <% } else { %>

    <p>Нет категорий</p>

    <% } %>
</div>