<%
/**
 *
 * @collections.categories
 */
%>

<div class="catalog__categoryList">

    <% if(collections.categories.length) { %>

    <% collections.categories.forEach(function(categoryModel){ %>
    <div data-category_id="<%- categoryModel.id %>" class="catalog__categoryItem">

        <a class="page__editLink catalog__editCategoryLink"></a>

        <a href="/groups/<%- categoryModel.group %>/categories/<%- categoryModel.id %>?edit=<%- PAGE.params.edit %>"
           class="catalog__categoryLink"><%= categoryModel.get('name') %></a>

    </div>
    <% }) %>

    <% } else { %>

    <p>Нет категорий</p>

    <% } %>
</div>