<% var InvoiceProductsCollections = require('collections/invoiceProducts/invoiceProducts') %>

<% var collections = _.extend({
    invoiceProducts: new InvoiceProductsCollections()
}, collections) %>

<% var helpers = {
    formatMoney: require('kit/formatMoney/formatMoney'),
    formatAmount: require('kit/formatAmount/formatAmount')
} %>

<% collections.invoiceProducts.forEach(function(invoiceProductModel) { %>
    <tr name="invoiceProduct">
        <td name="name"><%- invoiceProductModel.get('product.name') %></td>
        <td name="priceEntered"><%- helpers.formatMoney(invoiceProductModel.get('priceEntered')) %></td>
        <td name="quantity"><%- helpers.formatAmount(invoiceProductModel.get('quantity')) %> <%- invoiceProductModel.get('product.object.units') || 'шт.' %></td>
        <td name="totalPrice"><%- helpers.formatMoney(invoiceProductModel.get('totalPrice')) %></td>
        <td>
            <a style="font-size: 17px; position: relative; left: 4px; top: -2px;"
               data-model-cid="<%- invoiceProductModel.cid %>"
               class="delInvoiceProduct btn fa fa-times"></a>
        </td>
    </tr>
<% }); %>