<div class="localNavigation">

    <a class="localNavigation__link" href="/stores/<%- PAGE.params.storeId %>/products/<%- PAGE.params.productId %>">Обзор</a>
    <a class="localNavigation__link" href="/stores/<%- PAGE.params.storeId %>/products/<%- PAGE.params.productId %>/barcodes">Штрихкоды</a>
    <a class="localNavigation__link" href="/stores/<%- PAGE.params.storeId %>/products/<%- PAGE.params.productId %>/invoices">Приходы</a>
    <a class="localNavigation__link" href="/stores/<%- PAGE.params.storeId %>/products/<%- PAGE.params.productId %>/writeoffs">Списания</a>
    <a class="localNavigation__link" href="/stores/<%- PAGE.params.storeId %>/products/<%- PAGE.params.productId %>/returns">Возвраты</a>

    <% if(models.product.get('product.retailPriceMin') && models.product.get('product.retailPriceMax')){ %>
    <a class="localNavigation__link" href="/stores/<%- PAGE.params.storeId %>/products/<%- PAGE.params.productId %>/edit">
        Изменить наценку
    </a>
    <% } else { %>
    Изменить наценку нельзя. Нет диапазона наценки.
    <% } %>


</div>