<% var partials = {
    modal_groupForm: require('ejs!blocks/modal/modal_groupForm/modal_groupForm.ejs'),
    modal_productForm: require('ejs!blocks/modal/modal_productForm/modal_productForm.ejs')
} %>

<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="pull-right">
        <span data-target="#modal-productAdd"
              data-toggle="modal"
              role="button"
              class="btn btn-primary btn-md">Добавить товар</span>
    </div>

    <div class="page-header pull-left">
        <div class="page-title">

            <a href="/catalog"
               class="fa fa-long-arrow-left"
               style="font-size: 25px; margin-right: 10px;"></a>

            <%= models.group.get('name') %>

            <a data-target="#modal-groupEdit"
               data-toggle="modal"
               class="fa fa-edit"
               style="cursor:pointer; font-size: 20px; margin-left: 10px;"></a>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <% if (collections.products.length) { %>
            <div class="panel">
                <div class="panel-body">
                    <table style="margin-bottom: 0" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Цена продажи, <i class="fa fa-rub"></i></th>
                            <th>Артикул</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% collections.products.forEach(function(productModel){ %>
                        <tr class="product__link" data-product_id="<%- productModel.id %>">
                            <td><%- productModel.get('name') %></td>
                            <td><%- productModel.get('sellingPrice') %></td>
                            <td><%- productModel.get('barcode') %></td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } else { %>
            <div class="col-md-12">
                <div class="alert alert-info">
                    В этой группе пока нет ни одного товара.
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->

<%= partials.modal_groupForm({
    group: models.group
}) %>
<%= partials.modal_productForm({
    collections: {
        groups: collections.groups
    }
}) %>
<% if (models.product) { %>
<%= partials.modal_productForm({
    collections: {
        groups: collections.groups
    },
    productModel: models.product
}) %>
<% } %>

<!--END MODALS-->