<% var partials = {
    modal_groupForm: require('ejs!blocks/modal/modal_groupForm/modal_groupForm.ejs')
} %>

<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="pull-right">
        <span data-target="#modal-groupAdd"
              data-toggle="modal"
              role="button"
              class="btn btn-primary btn-md">Добавить товар</span>
    </div>

    <div class="page-header pull-left">
        <div class="page-title">
            Ассортимент
            <a class="fa fa-edit"></a>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row group">
        <% if (collections.groups.length) { %>

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body pan">
                    <ul class="groupList nav nav-pills nav-stacked">

                        <% collections.groups.forEach(function(group) { %>

                        <li class="<%- group.id === models.group.id ? 'active' : '' %>">
                            <a data-groupid="<%- group.id %>"
                               class="groupList__link"
                               href="/catalog/groups/<%- group.id %>">
                                <%= group.get('name') %>
                            </a>
                        </li>

                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="col-lg-12">
            <div class="alert alert-info">
                У вас пока нет ни одной группы товаров.
            </div>
        </div>
        <% } %>
    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->
<%= partials.modal_groupForm() %>
<!--END MODALS-->