<div class="page_dashboard__info">

    <% _.forEach(resources.firstStart.get('stores'), function(storeItem){ %>

    <div class="page_dashboard__infoRow row">
        <div class="page_dashboard__infoCell col-md-4">

            <div class="page_dashboard__infoTitle">
                Магазин:
            </div>
            <div class="page_dashboard__infoValue">
                <%- storeItem.store.name %>
            </div>

        </div>
        <div class="page_dashboard__infoCell col-md-4">

            <% if (typeof storeItem.costOfInventory != 'undefined') { %>
            <div class="page_dashboard__infoTitle">
                Товаров в магазине на сумму:
            </div>

            <div class="page_dashboard__infoValue">
                <%- formatMoney(storeItem.costOfInventory) %> <i style="font-size: 19px;" class="fa fa-rub"></i>
            </div>
            <% } %>

        </div>
        <div class="page_dashboard__infoCell col-md-4">

            <% if (storeItem.sale) { %>
            <div class="page_dashboard__infoTitle">
                Продажа:
            </div>
            <div class="page_dashboard__infoValue">
                <%- formatMoney(storeItem.sale.receipt.sumTotal) %> <i style="font-size: 19px;" class="fa fa-rub"></i>
            </div>

            <div class="row" style="padding-top: 30px;">

                <div class="col-md-6">
                    <div class="page_dashboard__infoSubTitle">
                        Себестоимость:
                    </div>

                    <div class="page_dashboard__infoSubValue">
                        <%- formatMoney(storeItem.sale.costOfGoods) %> <i style="font-size: 14px;" class="fa fa-rub"></i>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="page_dashboard__infoSubTitle">
                        Прибыль:
                    </div>

                    <div class="page_dashboard__infoSubValue">
                        <%- formatMoney(storeItem.sale.grossMargin) %> <i style="font-size: 14px;" class="fa fa-rub"></i>
                    </div>
                </div>

            </div>
            <% } %>

        </div>
    </div>

    <% }) %>

    <% if (PAGE.get('activeStep') == 4 && !resources.firstStart.get('complete')) { %>

    <div style="text-align: center">
        <a class="btn btn-primary btn-md page_dashboard__finishButton">
            ПРОДОЛЖИТЬ РАБОТУ
        </a>
    </div>

    <% } %>
</div>

