<tbody>

<% collection.forEach(function(supplierReturnProductModel){ %>
<tr name="supplierReturnProduct">
    <td name="name">
        <%- supplierReturnProductModel.get('product.name') %>
    </td>
    <td name="price">
        <%- formatMoney(supplierReturnProductModel.get('price')) %>
    </td>
    <td name="quantity">
        <%- formatAmount(supplierReturnProductModel.get('quantity')) %>
        <%- supplierReturnProductModel.get('product.object.units') || 'шт.' %>
    </td>
    <td name="totalPrice">
        <%- formatMoney(supplierReturnProductModel.get('totalPrice')) %>
    </td>
    <td>
        <a style="font-size: 17px; position: relative; left: 4px; top: -2px;"
           data-model-cid="<%- supplierReturnProductModel.cid %>"
           class="delStockInProduct btn fa fa-times"></a>
    </td>
</tr>
<% }) %>

</tbody>