<% var formId = id + '__form' %>

<div id="<%- id %>"
     class="modal modal_store">

    <% if (!deleted) { %>

    <div class="modal__header">

        <% if (referrer) { %>

        <a data-modal-toggle="<%- referrer %>" class="modal__backLink fa fa-chevron-left"></a>

        <% } else { %>

        <a class="modal__closeLink fa fa-times"></a>

        <% } %>

        <button form="<%- formId %>"
                type="submit"
                class="btn btn-primary pull-right">
            <%- storeId != 0 ? 'Сохранить' : 'Добавить' %>
        </button>

        <h4 class="modal__title">
            <%- storeId != 0 ? 'Редактирование магазина' : 'Добавить магазин' %>
        </h4>
    </div>
    <div class="modal__body">

        <b block="form_store"
           data-store-id="<%- storeId %>"
           data-id="<%- formId %>"></b>

    </div>

    <% } else { %>

    <div class="modal__body" style="text-align: center">
        <h3 name="successRemoveTitle" style="padding-bottom: 20px;">
            Магазин удален
        </h3>
        <h4 name="removedSupplierName" style="padding-bottom: 60px;">
            <%- models.store.get('name') %>
        </h4>

        <div style="padding-bottom: 30px;">
            <a name="removeContinue" class="btn btn-primary modal__closeLink"
               style="padding: 10px 30px;">
                Продолжить работу
            </a>
        </div>
    </div>

    <% } %>
</div>