<% var formId = id + '__form' %>

<div id="<%- id %>"
     class="modal modal_store">

    <div class="modal__header">

        <% if (referrer) { %>

        <a data-modal-toggle="<%- referrer %>" class="modal__backLink fa fa-chevron-left"></a>

        <% } else { %>

        <a class="modal__closeLink fa fa-times"></a>

        <% } %>

        <button form="<%- formId %>"
                type="submit"
                class="btn btn-primary pull-right">
            <%- storeId != 0 ? 'Сохранить' : 'Добавить' %>
        </button>

        <h4 class="modal__title">
            <%- storeId != 0 ? 'Редактирование магазина' : 'Добавить магазин' %>
        </h4>
    </div>
    <div class="modal__body">

        <b block="form_store"
           data-id="<%- formId %>"></b>

    </div>
</div>