<% var ProductModel = require('models/product/product') %>
<% var GroupsCollection = require('collections/groups/groups') %>
<% var productModel = productModel || new ProductModel() %>
<% var selectedGroupId = selectedGroupId || productModel.get('subCategory.id') %>

<% var partials = {
    form_product: require('ejs!blocks/form/form_product/form_product.ejs')
} %>

<% var collections = _.extend({
    groups: new GroupsCollection()
}, collections) %>


<div id="<%- productModel.id ? 'modal-productEdit' : 'modal-productAdd' %>"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-default-label"
     aria-hidden="true"
     class="modal fade"
     style="display: none;">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button"
                   data-dismiss="modal"
                   aria-hidden="true"
                   class="close pull-left fa fa-times"></a>

                <button form="<%- productModel.id ? 'form_productEdit' : 'form_productAdd' %>"
                        type="submit"
                        class="btn btn-primary pull-right">
                    <%- productModel.id ? 'Сохранить' : 'Добавить' %>
                </button>

                <h4 class="modal-title">
                    <%- productModel.id ? 'Редактирование товара' : 'Добавление товара' %>
                </h4>

                <span class="clearfix"></span>
            </div>
            <div class="modal-body">

                <%= partials.form_product({
                    selectedGroupId: selectedGroupId,
                    models: {
                        product: productModel
                    },
                    collections: {
                        groups: collections.groups
                    }
                }) %>

            </div>
        </div>
    </div>
</div>