<% var helpers = {
    formatMoney: require('kit/formatMoney/formatMoney'),
    formatDate: require('kit/formatDate/formatDate')
} %>

<tr data-invoice-date="<%- stockMovementModel.get('date') %>"
    data-invoice-number="<%- stockMovementModel.get('number') %>"
    data-invoice_id="<%- stockMovementModel.id %>"
    class="invoice__link">

    <% if (dateRowSpan) { %>
        <td name="date" rowspan="<%- dateRowSpan %>">
            <%- helpers.formatDate(stockMovementModel.get('date')) %>
        </td>
    <% } %>

    <td>
        <span name="type">Приёмка</span> <span name="status" style="font-size: 11px; margin-left: 10px;" class="<%- stockMovementModel.get('paid') ? 'text-muted' : 'text-red' %>">/ <%- stockMovementModel.get('paid') ? 'оплачена' : 'не оплачена' %></span>
    </td>
    <td name="store">
        В <%- stockMovementModel.get('store.name') %>
    </td>
    <td name="sumTotal">
        <%- helpers.formatMoney(stockMovementModel.get('sumTotal')) %>
    </td>
</tr>