<% var helpers = {
    formatMoney: require('kit/formatMoney/formatMoney'),
    formatDate: require('kit/formatDate/formatDate')
} %>

<tr data-supplierReturn-date="<%- helpers.formatDate(stockMovementModel.get('date')) %>"
    data-supplierReturn-number="<%- stockMovementModel.get('number') %>"
    data-supplierReturn_id="<%- stockMovementModel.id %>"
    class="supplierReturn__link">

    <% if (dateRowSpan) { %>
        <td name="date" rowspan="<%- dateRowSpan %>">
            <%- helpers.formatDate(stockMovementModel.get('date')) %>
        </td>
    <% } %>

    <td>
        <span name="type">Возврат поставщику</span> <span name="status" style="font-size: 11px; margin-left: 10px;" class="<%- stockMovementModel.get('paid') ? 'text-muted' : 'text-red' %>">/ <%- stockMovementModel.get('paid') ? 'погашен' : 'не погашен' %></span>
    </td>
    <td name="store">
        В <%- stockMovementModel.get('store.name') %>
    </td>
    <td name="sumTotal">
        <%- helpers.formatMoney(stockMovementModel.get('sumTotal')) %>
    </td>
</tr>