<% var WriteOffModel = require('models/writeOff/writeOff') %>
<% var partials = {
    writeOffProducts: require('ejs!blocks/form/form_writeOffProducts/writeOffProducts.ejs'),
    form_product: require('ejs!blocks/form/form_product/form_product.ejs')
} %>
<% var helpers = {
    formatMoney: require('kit/formatMoney/formatMoney'),
    formatAmount: require('kit/formatAmount/formatAmount'),
    formatDate: require('kit/formatDate/formatDate')
} %>
<% var models = _.extend({
    writeOff: new WriteOffModel()
}, models) %>

<div id="<%- models.writeOff.id ? 'modal_writeOffEdit' : 'modal_writeOffAdd' %>"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-default-label"
     aria-hidden="true"
     class="modal modal_writeOff fade"
     style="display: none;">
<div class="modal__dialog_visible modal__dialog_writeOff modal-dialog modal-wide-width">
    <div class="modal-content">
        <div class="modal-header">
            <a type="button"
               data-dismiss="modal"
               aria-hidden="true"
               class="close pull-left fa fa-times"></a>

            <button form="<%- models.writeOff.id ? 'form_writeOffEdit' : 'form_writeOffAdd' %>"
                    type="submit"
                    class="btn btn-primary pull-right">
                <%- models.writeOff.id ? 'Сохранить' : 'Списать' %>
            </button>

            <h4 class="modal-title">
                <%- models.writeOff.id ? 'Редактирование списания товаров' : 'Списание товаров' %>
            </h4>

            <span class="clearfix"></span>
        </div>
        <div class="modal-body">
            <form id="<%- models.writeOff.id ? 'form_writeOffEdit' : 'form_writeOffAdd' %>" class="form form_writeOff">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">

                            <label class="control-label">Дата *</label>

                            <div class="datetimepicker-default date">
                                <input name="date"
                                       type="text"
                                       class="form-control datepicker-default inputDate"
                                       value="<%- models.writeOff.get('date') ? helpers.formatDate(models.writeOff.get('date')) : '' %>">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">

                            <label class="control-label">Магазин *</label>

                            <div class="input-icon right">
                                <select class="form-control" name="store">
                                    <option value="" selected disabled>Выберите магазин</option>
                                    <% collections.stores.forEach(function(storeModel){ %>
                                    <option <%- models.writeOff.get('store.id') === storeModel.id ? 'selected' : '' %>
                                            value="<%- storeModel.id %>"><%- storeModel.get('name') %>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <hr style="margin: 0 -65px;"/>
            <h3>Товары</h3>

            <form class="form_writeOffProducts">
                <table class="table_writeOffProducts table table-vcenter" style="margin: 0 -10px;">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th style="white-space: nowrap; width: 1px;">Цена, <i class="fa fa-rub"></i></th>
                            <th style="width: 1px;">Кол-во</th>
                            <th style="white-space: nowrap; width: 1px;">Сумма, <i class="fa fa-rub"></i></th>
                            <th style="width: 1px;"></th>
                            <th style="width: 1px;"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <%= partials.writeOffProducts({
                            collections: {
                                writeOffProducts: models.writeOff.collections.products
                            }
                        }) %>

                    </tbody>
                    <tfoot>

                        <tr class="writeOffProductForm">
                            <td>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input name="product.name"
                                               type="text"
                                               class="form-control autocomplete autocomplete_products">
                                        <input type="hidden" name="product.id" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input name="price"
                                       type="text"
                                       style="width: 100px;"
                                       class="form-control">
                            </td>
                            <td>
                                <div style="white-space: nowrap">
                                    <input name="quantity"
                                           type="text"
                                           style="width: 80px; display: inline-block;"
                                           class="form-control">
                                    <span style="position: relative; padding: 0 5px;" class="product__units">шт.</span>
                                </div>
                            </td>
                            <td>
                                <span style="white-space: nowrap; min-width: 100px; position: relative; top: 7px;" class="totalSum"></span>
                            </td>
                            <td>
                                <input name="cause"
                                       type="text"
                                       style="width: 100px;"
                                       class="form-control">
                            </td>
                            <td>
                                <button type="submit"
                                        style="margin-top: 0;"
                                        class="addWriteOffProduct btn btn-default fa fa-check btn-lg"></button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="form__errorMessage form__errorMessage_global"></div>
            </form>
            <% if (models.writeOff.id) { %>
            <div style="margin-top: 40px; margin-left: -10px;" class="confirmLink">

                <div class="confirmLink__trigger">
                        <span class="removeLink">
                            <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                            Удалить списание
                        </span>
                </div>

                <div class="confirmLink__confirmation">
                        <span class="removeLink writeOff__removeLink">
                            <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                            Подтвердить удаление
                        </span>
                </div>

            </div>
            <% } %>
        </div>
    </div>
</div>

</div>