<form id="form_stockIn" class="form form_stockIn">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">

                <label class="control-label">Дата *</label>

                <b block="inputDate"
                   data-value="<%- model.get('date') ? helpers.formatDate(model.get('date')) : helpers.formatDate(new Date()) %>"></b>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">

                <label class="control-label">Магазин *</label>

                <div class="input-icon right">
                    <select class="form-control" name="store">
                        <option value="" selected disabled>Выберите магазин</option>
                        <% collections.stores.forEach(function(storeModel){ %>
                        <option <%- model.get('store.id') === storeModel.id ? 'selected' : '' %>
                                value="<%- storeModel.id %>"><%- storeModel.get('name') %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">

                <label class="control-label">Поставщик</label>

                <div class="row">
                    <div class="col-md-10">
                        <%= partials.select_suppliers({
                            collections: {
                                suppliers: collections.suppliers
                            },
                            selected: models.invoice.get('supplier.id')
                        }) %>
                    </div>

                    <div class="col-md-2">
                        <a style="font-size: 20px; position: relative; top: 10px; left: -10px; cursor: pointer;"
                           class="addSupplierLink fa fa-plus"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>