<% var templates = _.extend({
    form_invoice: require('ejs!blocks/form/form_invoice/template.html')
}, templates) %>

<div class="content">
    <h1>
        Создание накладной
        <% if(PAGE.models.invoice.get('order')) { %>
            <p class="invoice-order-info" name="invoice-order-info">
                на основании
                <a href="/stores/<%- models.store.id %>/orders/<%- PAGE.models.invoice.get('order').id %>">
                    заказа №<%- PAGE.models.invoice.get('order').number %>
                </a> от
                <%- moment(PAGE.models.invoice.get('createdDate')).format('DD.MM.YYYY') %>
            </p>
        <% } %>
    </h1>
    <%= templates.form_invoice({
        storeId: params.storeId
    }) %>
</div>
