<% var SupplierModel = require('models/supplier/supplier') %>
<% var model = model || new SupplierModel() %>

<% var partials = {
    fileBox: require('ejs!./fileBox.ejs')
} %>

<form class="form form_supplier">
    <div class="form__field">
        <label class="form__label">Наименование</label>
        <input value="<%- model.get('name') %>" name="name" type="text" class="inputText"/>
    </div>

    <div class="form__field">
        <label class="form__label">Телефон</label>
        <input value="<%- model.get('phone') %>" name="phone" type="text" class="inputText"/>
    </div>

    <div class="form__field">
        <label class="form__label">Факс</label>
        <input value="<%- model.get('fax') %>" name="fax" type="text" class="inputText"/>
    </div>

    <div class="form__field">
        <label class="form__label">Эл. почта</label>
        <input value="<%- model.get('email') %>" name="email" type="text" class="inputText"/>
    </div>

    <div class="form__field">
        <label class="form__label">Контактное лицо</label>
        <textarea name="contactPerson" class="inputText"><%- model.get('contactPerson') %></textarea>
    </div>

    <%= partials.fileBox({
        model: model
    }) %>

    <div class="form__controls">
        <button type="submit" class="button">
            Сохранить
        </button>
        <span style="margin-right: 10px;">
            или
        </span>
        <a style="margin-right: 20px;" href="/suppliers">
            Отменить
        </a>
    </div>
</form>