<%
/**
 *
 * @params.edit
 * @collections.groups
 */
%>

<div class="content">
    <h1>
        <span style="vertical-align: middle; margin-right: 10px;">
            Товарный справочник
        </span>
        <% if (params.edit === '1') { %>
        <a class="button catalog__addGroupLink">
            Добавить группу
        </a>
        <% } %>
    </h1>

    <div class="catalog__groupList">
        <% collections.groups.each(function(groupModel){ %>
        <div data-group_id="<%- groupModel.id %>" class="catalog__groupItem">
            <h2 class="catalog__groupTitle">

                <a href="/catalog/groups/<%- groupModel.id %>?edit=<%- params.edit %>"
                   class="catalog__groupLink"><%= groupModel.element('name') %></a>

                <% if (params.edit === '1') { %>
                <a class="editor__editLink catalog__editGroupLink"></a>
                <% } %>

            </h2>
            <div class="catalog__categoryList">

                <% if(!groupModel.collections.categories.length) { %>

                <div>Нет категорий</div>

                <% } else { %>

                <% groupModel.collections.categories.forEach(function(categoryModel){ %>
                <div data-category_id="<%- categoryModel.id %>" class="catalog__categoryItem">

                    <a href="/catalog/groups/<%- groupModel.id %>/categories/<%- categoryModel.id %>?edit=<%- params.edit %>"
                       class="catalog__categoryLink"><%= categoryModel.element('name') %></a>

                    <% if (params.edit === '1') { %>
                    <a class="editor__editLink catalog__editCategoryLink"></a>
                    <% } %>

                </div>
                <% }) %>

                <% } %>
            </div>
        </div>
        <% }) %>
    </div>
</div>
