<% var partials = {
    modal_invoice: require('ejs!blocks/modal/modal_invoice/modal_invoice.ejs'),
    modal_writeOff: require('ejs!blocks/modal/modal_writeOff/modal_writeOff.ejs'),
    tr: {
        invoice: require('ejs!blocks/table/stockMovements/tr/invoice.ejs'),
        writeOff: require('ejs!blocks/table/stockMovements/tr/writeOff.ejs')
    }
}; %>
<% var helpers = {
    formatMoney: require('kit/formatMoney/formatMoney'),
    formatDate: require('kit/formatDate/formatDate')
} %>

<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="pull-right">
        <span data-target="#modal_invoiceAdd"
              data-toggle="modal"
              role="button"
              class="btn btn-primary btn-md">Принять от поставщика</span>
        <span data-target="#modal_writeOffAdd"
              data-toggle="modal"
              role="button"
              class="btn btn-primary btn-md">Списать</span>
        <span class="page__addStockInLink btn btn-primary btn-md">Оприходовать</span>
    </div>

    <div class="page-header pull-left">
        <div class="page-title">Товародвижение</div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <form block="form_stockMovementsFilters" class="form form_stockMovementsFilters">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <select class="form-control" name="types">
                                        <option value="">Все операции</option>
                                        <option value="Invoice" <%- params.filters.types == 'Invoice' ? 'selected' : '' %>>
                                            Приёмка
                                        </option>
                                        <option value="WriteOff" <%- params.filters.types == 'WriteOff' ? 'selected' : '' %>>
                                            Списание
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-daterange input-group date">
                                    <span class="input-group-addon">с</span>
                                    <input name="dateFrom"
                                           type="text"
                                           class="form-control"
                                           data-end-date="<%- new Date() %>"
                                           value="<%- params.filters.dateFrom %>">
                                    <span style="border-left: none; border-right: none;" class="input-group-addon">по</span>
                                    <input name="dateTo"
                                           type="text"
                                           class="form-control"
                                           data-end-date="<%- new Date() %>"
                                           value="<%- params.filters.dateTo %>">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Применить фильтры</button>
                                <button type="reset" class="btn btn-default">Сбросить фильтры</button>
                            </div>
                        </div>
                        <div class="form__errorMessage form__errorMessage_global"></div>
                    </form>
                    <% if (collections.stockMovements.length) { %>
                    <table class="table table-striped table-hover table_stockMovements">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Операция</th>
                            <th>Магазин</th>
                            <th>На сумму, <i class="fa fa-rub"></i></th>
                        </tr>
                        </thead>
                        <tbody>

                        <% _.forEach(collections.stockMovements.groupBy('date'), function(stockMovements, date){ %>

                            <% _.forEach(stockMovements, function(stockMovementModel, index) { %>

                                <% if (stockMovementModel.get('type') === 'Invoice'){ %>
                                    <%= partials.tr.invoice({
                                        dateRowSpan: index === 0 ? stockMovements.length : null,
                                        stockMovementModel: stockMovementModel
                                    }) %>
                                <% } %>

                                <% if (stockMovementModel.get('type') === 'WriteOff'){ %>
                                    <%= partials.tr.writeOff({
                                        dateRowSpan: index === 0 ? stockMovements.length : null,
                                        stockMovementModel: stockMovementModel
                                    }) %>
                                <% } %>

                            <% }) %>
                        <% }) %>

                        </tbody>
                    </table>
                    <% } else { %>
                    <div style="margin-bottom: 0" class="alert alert-info">
                        Не найдено ни одной операции с товарами.
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->

<b block="modal_stockIn"></b>

<% if (models.invoice) { %>
    <%= partials.modal_invoice({
        collections: {
            invoices: collections.stockMovements,
            suppliers: collections.suppliers,
            stores: collections.stores
        },
        models: {
            invoice: models.invoice
        }
    }) %>
<% } %>
<%= partials.modal_invoice({
    collections: {
        invoices: collections.stockMovements,
        suppliers: collections.suppliers,
        stores: collections.stores
    }
}) %>

<% if (models.writeOff) { %>
    <%= partials.modal_writeOff({
        collections: {
            stores: collections.stores
        },
        models: {
            writeOff: models.writeOff
        }
    }) %>
<% } %>
<%= partials.modal_writeOff({
    collections: {
        stores: collections.stores
    }
}) %>
<!--END MODALS-->