<% var partials = {
    modal_invoice: require('ejs!blocks/modal/modal_invoice/modal_invoice.ejs')
}; %>
<% var helpers = {
    formatMoney: require('kit/formatMoney/formatMoney'),
    formatDate: require('kit/formatDate/formatDate')
} %>

<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="pull-right">
        <span data-target="#modal_invoiceAdd"
              data-toggle="modal"
              role="button"
              class="btn btn-primary btn-md">Принять от поставщика</span>
    </div>

    <div class="page-header pull-left">
        <div class="page-title">Товародвижение</div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" name="filterTypes">
                                    <option value="">Все операции</option>
                                    <option value="Invoice" <%- params.filterTypes == 'Invoice' ? 'selected' : '' %>>
                                        Приёмка
                                    </option>
                                    <option value="WriteOff" <%- params.filterTypes == 'WriteOff' ? 'selected' : '' %>>
                                        Списание
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-daterange input-group date">
                                <span class="input-group-addon">с</span>
                                <input name="dateFrom"
                                       type="text"
                                       class="form-control"
                                       data-end-date="<%- new Date() %>"
                                       value="<%- params.dateFrom %>">
                                <span style="border-left: none; border-right: none;" class="input-group-addon">по</span>
                                <input name="dateTo"
                                       type="text"
                                       class="form-control"
                                       data-end-date="<%- new Date() %>"
                                       value="<%- params.dateTo %>">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Операция</th>
                            <th>Магазин</th>
                            <th>На сумму, <i class="fa fa-rub"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% collections.stockMovements.forEach(function(stockMovementModel) { %>
                        <tr data-invoice_id="<%- stockMovementModel.id %>" class="invoice__link">
                            <td>
                                <%- helpers.formatDate(stockMovementModel.get('date')) %>
                            </td>
                            <td>
                                Приёмка
                            </td>
                            <td>
                                <%- stockMovementModel.get('store.number') %>
                            </td>
                            <td>
                                <%- helpers.formatMoney(stockMovementModel.get('sumTotal')) %>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->
<%= partials.modal_invoice({
    collections: {
        invoices: collections.stockMovements,
        suppliers: collections.suppliers,
        stores: collections.stores
    }
}) %>
<!--END MODALS-->