<%
/**
 *
 * @models.product
 * @collections.productInvoices
 */
%>

<% var formatDate = require('kit/formatDate/formatDate') %>
<% var formatMoney = require('kit/formatMoney/formatMoney') %>
<% var getText = require('kit/getText/getText') %>

<% var partials = {
    amount: require('ejs!blocks/amount/amount.ejs')
} %>

<div class="content">
    <h1 name="name">
        <%- models.product.get('product.name') %>
    </h1>

    <% if(collections.productInvoices.length) { %>
    <table class="table table_productInvoices">
        <tbody>
        <% collections.productInvoices.forEach(function(productInvoiceModel){ %>
        <tr invoice-sku="<%- productInvoiceModel.get('invoice.sku') %>" name="invoice" href="/stores/<%- PAGE.params.storeId %>/invoices/<%- productInvoiceModel.get('invoice.id') %>">
            <td>
                <%- formatDate(productInvoiceModel.get('acceptanceDate')) %>
            </td>
            <td>
                + <%= partials.amount({value: productInvoiceModel.get('quantity') }) %>
                <%- getText('units', productInvoiceModel.get('product.units')) %>
            </td>
            <td>
                по <%- formatMoney(productInvoiceModel.get('price')) %> р.
            </td>
            <td>
                = <%- formatMoney(productInvoiceModel.get('totalPrice')) %> р.
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p>Приходов товара еще не было</p>
    <% } %>
</div>