<% var supplierModalId = 'modal_supplier-' + cid %>

<div class="select_supplier">
    <div class="input-group">

        <select class="form-control" name="supplier">

            <option value="" selected>Не выбран</option>
            <% collection.forEach(function(supplierModel){ %>
            <option <%- selected === supplierModel.id && 'selected' %>
                    <%- supplierModel.get('deleted') && 'disabled' %>
                    value="<%- supplierModel.id %>"><%- supplierModel.get('name') %>
            </option>
            <% }) %>

        </select>

        <% if (add) { %>

        <a class="input-group-addon form__inputTransparentButton"
           data-modal="<%- supplierModalId %>">
            <i class="fa fa-plus"></i>
        </a>

        <% } %>

    </div>

    <% if (add) { %>

    <b block="modal_supplier"
       data-id="<%- supplierModalId %>"></b>

    <% } %>

</div>