<% var modalId = 'modal_stockMovement-' + cid %>
<% var formId = 'form_stockMovement-' + cid %>

<div id="<%- modalId %>"
     class="modal modal_stockMovement <%- deleted ? 'modal_stockMovementDeleted' : '' %>">

    <% if (!deleted) { %>

    <div class="modal__header">
        <a class="modal__closeLink pull-left fa fa-times"></a>

        <button form="<%- formId %>"
                type="submit"
                class="btn btn-primary pull-right">
            <%- model.id ? 'Сохранить' : addButtonCaption %>
        </button>

        <h4 class="modal__title">
            <%- model.id ? editTitle : addTitle %>
        </h4>

    </div>
    <div class="modal__body">

        <b block="form"
           id="<%- formId %>"></b>

        <hr style="margin: 0 -60px;"/>

        <h3>Товары</h3>

        <b block="form_products"></b>

        <% if (model.id) { %>
        <div style="margin-top: 40px; margin-left: -10px;" class="confirmLink">

            <div class="confirmLink__trigger">
                <span class="removeLink">
                    <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                    <%- removeCaption %>
                </span>
            </div>

            <div class="confirmLink__confirmation">
                <span class="removeLink modal_stockMovement__removeLink">
                    <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                    Подтвердить удаление
                </span>
            </div>

        </div>
        <% } %>
    </div>

    <% } else { %>

    <%= partials.deleted(obj) %>

    <% } %>

</div>