<% var formId = id + '__form' %>

<div id="<%- id %>"
     class="modal modal_stockMovement <%- deleted ? 'modal_stockMovementDeleted' : '' %>">

    <% if (!deleted) { %>

    <div class="modal__header">
        <a class="modal__closeLink pull-left fa fa-times"></a>

        <button form="<%- formId %>"
                type="submit"
                class="btn btn-primary pull-right">
            <%- model.id ? 'Сохранить' : addButtonCaption %>
        </button>

        <h4 class="modal__title">
            <%- model.id ? editTitle : addTitle %>
        </h4>

    </div>
    <div class="modal__body">

        <b block="form"
           data-id="<%- formId %>"></b>

        <hr style="margin: 0 -60px;"/>

        <h3>Товары</h3>

        <b block="form_products"></b>

        <% if (model.id) { %>
        <div style="margin-left: -10px;">

            <b block="removeButton"
               data-remove-text="<%- removeButtonText %>"></b>

        </div>
        <% } %>
    </div>

    <% } else { %>

    <%= partials.deleted(obj) %>

    <% } %>

</div>