<%
/**
 *
 * @models.product
 */
%>
<% var getText = require('kit/getText') %>
<% var formatAmount = require('kit/formatAmount') %>
<% var formatMoney = require('kit/formatMoney') %>

<div class="content">

    <h1 name="name" class="product__name"><%- models.product.get('name') %></h1>

    <div class="product__sku" name="sku">
        <%- models.product.get('sku') %>
    </div>

    <table class="table" style="width: 50%">
        <tr>
            <th>Группа</th>
            <td>
                <a href="/catalog/<%- models.product.get('subCategory.category.group.id') %>" name="group">
                    <%- models.product.get('subCategory.category.group.name') %>
                </a>
            </td>
        </tr>
        <tr>
            <th>Категория</th>
            <td>
                <a href="/catalog/<%- models.product.get('subCategory.category.group.id') %>/<%- models.product.get('subCategory.category.id') %>"
                   name="category">
                    <%- models.product.get('subCategory.category.name') %>
                </a>
            </td>
        </tr>
        <tr>
            <th>Подкатегория</th>
            <td>
                <a href="/catalog/<%- models.product.get('subCategory.category.group.id') %>/<%- models.product.get('subCategory.category.id') %>/<%- models.product.get('subCategory.id') %>"
                   name="subCategory">
                    <%- models.product.get('subCategory.name') %>
                </a>
            </td>
        </tr>

        <tr>
            <th>Тип товара</th>
            <td name="type">
                <%- getText('productTypes', models.product.get('type')) %>
            </td>
        </tr>
        <tr>
            <th>Единица измерения</th>
            <td name="units">
                <%- getText(models.product.get('units'), 'capitalFull') %>
            </td>
        </tr>
        <tr>
            <th>НДС</th>
            <td>
                <span name="vat"><%- models.product.get('vat') %></span>
                %
            </td>
        </tr>
        <tr>
            <th>Штрих-код</th>
            <td>
                <span name="barcode"><%- models.product.get('barcode') %></span>
            </td>
        </tr>
        <tr>
            <th>Страна</th>
            <td name="vendorCountry">
                <%- models.product.get('vendorCountry') %>
            </td>
        </tr>
        <tr>
            <th>Производитель</th>
            <td name="vendor">
                <%- models.product.get('vendor') %>
            </td>
        </tr>

        <% if (models.product.get('type') == 'weight') { %>
        <tr>
            <th>Наименование на весах</th>
            <td name="typeProperties.nameOnScales">
                <%- models.product.get('typeProperties.nameOnScales') %>
            </td>
        </tr>
        <tr>
            <th>Описание товара на весах</th>
            <td name="typeProperties.descriptionOnScales">
                <%- models.product.get('typeProperties.descriptionOnScales') %>
            </td>
        </tr>
        <tr>
            <th>Состав</th>
            <td name="typeProperties.ingredients">
                <%- models.product.get('typeProperties.ingredients') %>
            </td>
        </tr>
        <tr>
            <th>Пищевая ценность</th>
            <td name="typeProperties.nutritionFacts">
                <%- models.product.get('typeProperties.nutritionFacts') %>
            </td>
        </tr>
        <tr>
            <th>Срок годности</th>
            <td>
                <span name="typeProperties.shelfLife"><%- models.product.get('typeProperties.shelfLife') %></span>
                <%- models.product.get('typeProperties.shelfLife') ? 'ч.' : '' %>
            </td>
        </tr>
        <% } %>

        <% if (models.product.get('type') == 'alcohol') { %>
        <tr>
            <th>Крепость</th>
            <td name="typeProperties.alcoholByVolume">
                <%- models.product.get('typeProperties.alcoholByVolume') !== undefined ? formatAmount(models.product.get('typeProperties.alcoholByVolume')) + '%' : '' %>
            </td>
        </tr>
        <tr>
            <th>Объем тары</th>
            <td name="typeProperties.volume">
                <%- models.product.get('typeProperties.volume') ? formatAmount(models.product.get('typeProperties.volume')) + 'л.' : '' %>
            </td>
        </tr>
        <% } %>

        <tr>
            <th>Закупочная цена</th>
            <td>
                <% if(models.product.get('purchasePrice')){ %>
                <span name="purchasePrice">
                <%- formatMoney(models.product.get('purchasePrice')) %>
                </span>
                руб.
                <% } else { %>
                <i name="purchasePrice">
                    отсутствует
                </i>
                <% } %>
            </td>
        </tr>
        <tr>
            <th>Диапазон наценки</th>
            <td>
                <% if(_.isNumber(models.product.get('retailMarkupMin')) && _.isNumber(models.product.get('retailMarkupMax'))) {
                %>
                <span name="retailMarkupRange">
                    <%- formatMoney(models.product.get('retailMarkupMin')) %>
                    -
                    <%- formatMoney(models.product.get('retailMarkupMax')) %>
                </span>
                %
                <% } else { %>
                <i name="retailMarkupRange">
                    отсутствует
                </i>
                <% } %>
            </td>
        </tr>
        <tr>
            <th>Диапазон цены продажи</th>
            <td>
                <% if(models.product.get('retailPriceMin') && models.product.get('retailPriceMax')){ %>
                <span name="retailPriceRange">
                    <%- formatMoney(models.product.get('retailPriceMin')) %>
                    -
                    <%- formatMoney(models.product.get('retailPriceMax')) %>
        </span>
                руб.
                <% } else { %>
                <i name="retailPriceRange">
                    отсутствует
                </i>
                <% } %>
            </td>
        </tr>
        <tr>
            <th>Округление</th>
            <td>
            <span name="rounding.name">
                <%- getText(models.product.get('rounding.name')) %>
            </span>
            </td>
        </tr>
    </table>
</div>