<%
/**
 *
 * @models.product
 */
%>

<% var formatMoney = require('kit/formatMoney') %>
<% var formatAmount = require('kit/formatAmount') %>

<div class="content">

    <h1><%- models.product.get('product.name') %></h1>

    <% if (models.product.get('product.barcodes').length) { %>
    <h2>Дополнительные штриховые коды</h2>

    <table class="table" style="margin-bottom: 30px;">
        <thead>
            <tr>
                <th>Штрихкод</th>
                <th>Количество</th>
                <th>Цена по ШК</th>
            </tr>
        </thead>

        <tbody class="form form_barcodes table__body">
            <% _.forEach(models.product.get('product.barcodes'), function(barcode){ %>
            <tr class="table__row form_barcodes__row" name="barcodeRow">
                <td class="table__cell">
                    <%- barcode.barcode %>
                </td>
                <td>
                    <%- formatAmount(barcode.quantity) %>
                </td>
                <td <%- barcode.price ? '' : 'form_barcodes__emptyCell'%> style="white-space: nowrap;">
                    <%- barcode.price ? formatMoney(barcode.price) : '' %>
                    <span class="inputText__postfix">руб.</span>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>

    <% } else { %>
    <p>У этого товара нет дополнительных штриховых кодов</p>
    <% } %>
</div>
