<div class="page">

    <nav class="sideBar">

        <a href="/" class="sideBar__logo">
            DREAMKAS
        </a>

        <div class="sideBar__scrollPanel">

            <a href="/" class="sideBar__item <%- activeNavigationItem === 'dashboard' ? 'sideBar__item_active' : '' %>">
                <i class="fa fa-tachometer fa-fw"></i>
                Обзор
            </a>

            <a href="/stockMovements"
               class="sideBar__item <%- activeNavigationItem === 'stockMovement' ? 'sideBar__item_active' : '' %>">
                <i class="fa fa-exchange fa-fw"></i>
                Товародвижение
            </a>

            <a href="/cashFlow"
               class="sideBar__item <%- activeNavigationItem === 'cashFlow' ? 'sideBar__item_active' : '' %>">
                <i class="fa fa-rouble fa-fw"></i>
                Деньги
            </a>

            <a href="/reports"
               class="sideBar__item <%- activeNavigationItem === 'reports' ? 'sideBar__item_active' : '' %>">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                Отчеты
            </a>

            <a href="/catalog"
               class="sideBar__item <%- activeNavigationItem === 'catalog' ? 'sideBar__item_active' : '' %>">
                Ассортимент
            </a>

            <a href="/suppliers"
               class="sideBar__item <%- activeNavigationItem === 'suppliers' ? 'sideBar__item_active' : '' %>">
                Поставщики
            </a>

            <a href="/stores"
               class="sideBar__item <%- activeNavigationItem === 'stores' ? 'sideBar__item_active' : '' %>">
                Магазины
            </a>

            <div style="padding: 30px 0;">
                <a data-navigate="0" href="<%- get('posUrl') %>" class="page__posLink btn btn-primary btn-lg">Запустить кассу</a>
            </div>

        </div>

        <div class="sideBar__bottom">

            <div class="sideBar__controls">
                <a href="/settings" class="sideBar__actionLink">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="/logout" class="sideBar__actionLink">
                    <i class="fa fa-sign-out"></i>
                </a>
            </div>

            <div name="username" class="sideBar__userName">
                <a href="/user">
                    <%- currentUserModel.get('username') || currentUserModel.get('email') %>
                </a>
            </div>
        </div>
    </nav>

    <div class="page__contentSide">
        <%= content(obj) %>
    </div>

</div>