<% var GroupModel = require('resources/group/model') %>
<% var ProductsCollection = require('collections/groupProducts/groupProducts') %>
<% var group = group || new GroupModel() %>
<% var productsCollection = productsCollection || new ProductsCollection() %>

<div id="<%- group.id ? 'modal-groupEdit' : 'modal-groupAdd' %>"
     class="modal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button"
                   data-dismiss="modal"
                   aria-hidden="true"
                   class="close pull-left fa fa-times"></a>

                <button form="<%- group.id ? 'form_groupEdit' : 'form_groupAdd' %>"
                        type="submit"
                        class="btn btn-primary pull-right">
                    <%- group.id ? 'Сохранить' : 'Добавить' %>
                </button>

                <h4 class="modal-title">
                    <%- group.id ? 'Редактирование группы' : 'Добавить группу' %>
                </h4>

                <span class="clearfix"></span>
            </div>
            <div class="modal-body">

                <form id="<%- group.id ? 'form_groupEdit' : 'form_groupAdd' %>" class="form form_group">
                    <div class="form-group">

                        <label class="control-label">Наименование</label>

                        <div class="input-icon right">
                            <input
                                    name="name"
                                    type="text"
                                    placeholder="Наименование группы"
                                    class="form-control"
                                    autofocus
                                    value="<%- group.get('name') %>">
                        </div>
                    </div>

                    <% if (group.id) { %>

                    <% if (productsCollection.length) { %>
                    <button type="button" class="removeLink group__removeLink" data-placement="top" data-toggle="popover" data-content="Чтобы удалить группу, нужно сначала удалить все товары в ней.">
                        <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                        Удалить группу
                    </button>
                    <% } else { %>
                    <div class="confirmLink">

                        <div class="confirmLink__trigger">
                        <span class="removeLink group__removeLink">
                            <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                            Удалить группу
                        </span>
                        </div>

                        <div class="confirmLink__confirmation">
                        <span class="removeLink group__removeLink">
                            <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                            Подтвердить удаление
                        </span>
                        </div>

                    </div>
                    <% } %>
                    <% } %>
                </form>

            </div>
        </div>
    </div>
</div>