<% var supplierModalId = 'modal_supplierForInvoice' + cid %>
<% var storeModalId = 'modal_storeForInvoice' + cid %>

<form id="<%- id %>" class="form form_invoice">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">

                <label class="control-label">Дата *</label>

                <b block="inputDate"
                   data-value="<%- model.get('date') ? formatDate(model.get('date')) : formatDate(new Date()) %>"></b>

                <div class="form__errorMessage" for="date"></div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">

                <label class="control-label">Магазин *</label>

                <% if (!PAGE.collections.stores.length) { %>

                <a style="width: 100%"
                   data-modal="<%- storeModalId %>"
                   class="btn btn-transparent">
                    Создать магазин <i style="margin-left: 10px;" class="fa fa-plus"></i>
                </a>

                <% } else { %>

                <div class="input-group">

                    <b block="select_store"
                       data-selected="<%- model.get('store.id') %>"></b>

                    <a class="input-group-addon"
                       data-modal="<%- storeModalId %>">
                        <i class="fa fa-plus"></i>
                    </a>

                </div>

                <% } %>

                <div class="form__errorMessage" for="store"></div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">

                <label class="control-label">Поставщик</label>

                <div class="input-group">

                    <b block="select_supplier"
                       data-selected="<%- model.get('supplier.id') %>"></b>

                    <a class="input-group-addon"
                       data-modal="<%- supplierModalId %>">
                        <i class="fa fa-plus"></i>
                    </a>

                </div>

            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="checkbox">
            <input tabindex="5"
                   type="checkbox"
                   name="paid"
                   value="true" <%- model.get('paid') ? 'checked' : '' %>/>
                    <span class="checkbox__text">
                        Оплачено
                    </span>
        </label>
    </div>

    <b block="modal_supplier"
       data-referrer="modal_invoice"
       data-id="<%- supplierModalId %>"></b>

    <b block="modal_store"
       data-referrer="modal_invoice"
       data-id="<%- storeModalId %>"></b>

</form>