<table class="table table-striped table-hover table_storesProfit">
    <thead>
    <tr>
        <th data-sort-by="name">
            Магазин
        </th>
        <th data-sort-by="grossSales">
            Продажи, <i class="fa fa-rub"></i>
        </th>
        <th data-sort-by="costOfGoods">
            Себестоимость, <i class="fa fa-rub"></i>
        </th>
        <th data-sort-by="grossMargin">
            Прибыль, <i class="fa fa-rub"></i>
        </th>
    </tr>
    </thead>

    <tbody name="profit">

    <% sortedCollection.forEach(function(profitModel){ %>
    <tr name="store">
        <td name="name">
            <%- profitModel.get('store.name') %>
        </td>
        <td>
            <span name="grossSales">
                <%- formatMoney(profitModel.get('grossSales')) %>
            </span>
            <span name="grossSalesPercent" class="table_storesProfit__percent">
                (<%- calculateGrossSalesPercent(profitModel.get('grossSales')) %>%)
            </span>
        </td>
        <td name="costOfGoods">
            <%- formatMoney(profitModel.get('costOfGoods')) %>
        </td>
        <td>
            <span name="grossMargin">
                <%- formatMoney(profitModel.get('grossMargin')) %>
            </span>
            <span name="grossMarginPercent" class="table_storesProfit__percent">
                (<%- calculateGrossMarginPercent(profitModel.get('grossMargin')) %>%)
            </span>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>