<%
/**
 *
 * @models.product
 * @collections.productWriteOffs
 */
%>

<% var formatDate = require('kit/formatDate/formatDate') %>
<% var formatMoney = require('kit/formatMoney/formatMoney') %>
<% var getText = require('kit/getText/getText') %>

<% var partials = {
    amount: require('tpl!blocks/amount/amount.ejs')
} %>

<div class="content">
    <h1 name="name">
        <%- models.product.get('product.name') %>
    </h1>

    <% if(collections.productWriteOffs.length) { %>
    <table class="table">
        <tbody>
        <% collections.productWriteOffs.forEach(function(productWriteOffModel){ %>
        <tr writeoff-number="<%- productWriteOffModel.get('writeOff.number') %>" name="writeOff" href="/stores/<%- PAGE.params.storeId %>/writeOffs/<%- productWriteOffModel.get('writeOff.id') %>">
            <td>
                <%- formatDate(productWriteOffModel.get('createdDate')) %>
            </td>
            <td>
                - <%= partials.amount({value: productWriteOffModel.get('quantity')}) %>
                <%- getText('units', productWriteOffModel.get('product.units')) %>
            </td>
            <td>
                по <%- formatMoney(productWriteOffModel.get('price')) %> р.
            </td>
            <td>
                = <%- formatMoney(productWriteOffModel.get('totalPrice')) %> р.
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p>Списаний товара еще не было</p>
    <% } %>
</div>