<% collection.forEach(function(stockInProductModel){ %>
<tr name="stockInProduct">
    <td name="name">
        <%- stockInProductModel.get('product.name') %>
    </td>
    <td name="price">
        <%- formatMoney(stockInProductModel.get('price')) %>
    </td>
    <td name="quantity">
        <%- formatAmount(stockInProductModel.get('quantity')) %>
        <%- stockInProductModel.get('product.object.units') || 'шт.' %>
    </td>
    <td name="totalPrice">
        <%- formatMoney(stockInProductModel.get('totalPrice')) %>
    </td>
    <td>
        <a style="font-size: 17px; position: relative; left: 4px; top: -2px;"
           data-model-cid="<%- stockInProductModel.cid %>"
           class="delStockInProduct btn fa fa-times"></a>
    </td>
</tr>
<% }) %>