<% var storeModalId = 'modal_store-' + cid %>

<div class="select_store">

    <% if (add && !collection.length) { %>

    <a style="width: 100%"
       data-modal="<%- storeModalId %>"
       class="btn btn-transparent">
        Создать магазин <i style="margin-left: 10px;" class="fa fa-plus"></i>
    </a>

    <% } else { %>

    <div class="input-group">
        <select class="form-control" name="store">

            <% if (all) { %>

            <option value="" selected>По сети</option>

            <% } else { %>

            <option value="" selected disabled>Выберите магазин</option>

            <% } %>

            <% collection.forEach(function(storeModel){ %>
            <option <%- storeModel.id === selected && 'selected' %>
                    value="<%- storeModel.id %>"
                    <%- storeModel.get('deletedAt') && 'disabled' %>>

                <%- storeModel.get('name') %>

            </option>
            <% }) %>

        </select>

        <% if (add) { %>

        <a class="input-group-addon form__inputTransparentButton"
           data-modal="<%- storeModalId %>">
            <i class="fa fa-plus"></i>
        </a>

        <% } %>

    </div>

    <% } %>

    <% if (add) { %>

    <b block="modal_store"
       data-id="<%- storeModalId %>"></b>

    <% } %>

</div>