<% if (sortedCollection.length) { %>
<table class="table table-striped table-hover table_groupsProfit">
    <thead>
    <tr>
        <th data-sort-by="subCategory.name">
            Группа
        </th>
        <th data-sort-by="grossSales">
            Продажи, <i class="fa fa-rub"></i>
        </th>
        <th data-sort-by="costOfGoods">
            Себестоимость, <i class="fa fa-rub"></i>
        </th>
        <th data-sort-by="grossMargin">
            Прибыль, <i class="fa fa-rub"></i>
        </th>
    </tr>
    </thead>

    <tbody name="profit">

    <% sortedCollection.forEach(function(profitModel){ %>
    <tr href="<%- groupUrl(profitModel) %>">
        <td name="name" class="table_groupsProfit__groupName">
            <%- profitModel.get('subCategory.name') %>
        </td>
        <td>
            <span name="grossSales">
                <%- formatMoney(profitModel.get('grossSales')) %>
            </span>
            <span name="grossSalesPercent" class="table_groupsProfit__percent">
                (<%- calculateGrossSalesPercent(profitModel.get('grossSales')) %>%)
            </span>
        </td>
        <td name="costOfGoods">
            <%- formatMoney(profitModel.get('costOfGoods')) %>
        </td>
        <td>
            <span name="grossMargin">
                <%- formatMoney(profitModel.get('grossMargin')) %>
            </span>
            <span name="grossMarginPercent" class="table_groupsProfit__percent">
                (<%- calculateGrossMarginPercent(profitModel.get('grossMargin')) %>%)
            </span>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% } else { %>
<div class="alert alert-info">
    Ассортимент пуст. Добавьте хотя бы один товар.
</div>
<% } %>