<%
/**
 *
 * @collections.invoices
 * @models.store
 */
%>

<% var formatDate = require('kit/formatDate/formatDate') %>
<% var formatMoney = require('kit/formatMoney/formatMoney') %>

<div class="content">

    <% if (collections.invoices.length) { %>
    <table class="table table_invoices">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Номер</th>
            <th>Поставщик</th>
            <th>Сумма</th>
            <th>Принял</th>
        </tr>
        </thead>
        <tbody>
        <% collections.invoices.forEach(function(invoiceModel){ %>
        <tr name="invoice" href="/stores/<%- models.store.id %>/invoices/<%- invoiceModel.id %>">
            <td name="acceptanceDate">
                <%- formatDate(invoiceModel.get('acceptanceDate'), {time: true}) %>
            </td>
            <td name="number">
                <span class="<%- invoiceModel.get('_meta.highlights.number') ? 'page__highlighted' : '' %>">
                    <%- invoiceModel.get('number') %>
                </span>
            </td>
            <td name="supplier">
                <%- invoiceModel.get('supplier.name') %>
            </td>
            <td>
                <span name="sumTotal">
                    <%- formatMoney(invoiceModel.get('sumTotal')) %>
                </span>
                <span>р.</span>
            </td>
            <td name="accepter">
                <%- invoiceModel.get('accepter') %>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p>
        Нет накладных
    </p>
    <% } %>
</div>
